html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #1B1B1B;
    color: white;
    -webkit-user-select: none;
}
div.funcBox{   
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
div.funcBox span{
    display: block;
    padding: 0 10px;
    height: 30px;
    text-align: center;
    border: 2px solid #DEDEDE;
    border-radius: 18px;
    line-height: 30px;
    color: #DEDEDE;
}
div.funcBox span:hover{
    cursor: pointer;
    border-color: white;
    color: white;
}
div.dragBox{
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    height: 75%;
}
div.dragArea{
    margin: 50px;
    margin-top: 20px;
    border: 1px dashed white;
    border-radius: 8px;
    background-color: #262626;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-y: scroll;
}
div.text{
    color: #DEDEDE;
    font-size: 28px;
    margin-top: 5px;
}
div.text > div{
    font-size: 16px;
    color: white;
}
a{
    text-decoration: none;
}
div.dragArea a{
    color: #4B9CF5;
}
div.dragArea a:hover{
    text-decoration: underline;
    cursor: pointer;
}
div.dragArea>img{
    width: 80px;
    margin: 5px;
}
.skillbar{
    margin: 5px 20px;
    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 25px;
    position: relative;
}
.skillbar .filled{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 25px;
    float: left;
}
.skillbar .title{
    color: black;
    line-height: 25px;
    padding-left: 5px;
    left: 5px;
    position: absolute;
}
.skillbar .percent{
    color: black;
    line-height: 25px;
    font-weight: bold;
    right: 5px;
    position: absolute;
}

.skillbar .filled.orange{
    background-color: #ff8817;
}
.skillbar .filled.blue{
    background-color: #177fcb;
}
.bar-container{
    position: relative;
}
.bar-container .msg{
    position: absolute;
    color: white;
    width: 100%;
    height: 25px;
    top: -30px;
    padding: 5px 0;
    font-size: 20px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 0;
}